name: Deplyment

on:
  push:
    branches:
    - master

  
jobs:
    job1:

      runs-on: ubuntu-latest
      steps:
      - name: "checkout"
        uses: actions/checkout@v4


      - name: "Build the Docker image"
        run: |
          docker build -t olaranmmy/testimage100 .

      - name: "push to Dockerhub"
        run:   |
            docker login -u olaranmmy -p "${{secrets.DOCKER_PASSWORD}}"
            docker push olaranmmy/testimage100
            echo "image pushed successfully!"


    job2:
        runs-on: ubuntu-latest
        needs: job1
        steps:
        - name: "confirm the job"
          run: |
           echo "This is the second job"
            
        - name: "checkout"
          uses: actions/checkout@v4

        - name: "Uploads as an artifact"
          uses: actions/uploads-artifact@v4
          with:
            name: "sample-artifact"
            path: "index.html"
            retention-days: 60

        - name: "Uploads as a second artifact"
          uses: actions/uploads-artifact@v4
          with:
            name: "sample-artifact2"
            path: "index.html"
            retention-days: 60   


        - name: "pull the image from dockerhub into the environment"
          run: |
            docker pull olaranmmy/testimage100
            echo "Image pulled successfully"
            docker run -d -p 8080:80 olaranmmy/testimage100



